h1 {
  position: absolute;
  width: 376px;
  height: 50px;
  left: 537px;
  top: 253px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

h2 {
  position: absolute;
  width: 273px;
  height: 30px;
  left: 200px;
  top: 480px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;

  color: #5c7590;
}

h4 {
  position: absolute;
  width: 331px;
  height: 30px;
  left: 553px;
  top: 480px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;

  color: #5c7590;
}

img.coba {
  position: absolute;
  width: 780.01px;
  height: 1481.02px;
  left: 366px;
  top: 1100px;
}

ul.coba2 {
  position: absolute;
  width: 587px;
  height: 24px;
  left: 413px;
  top: 56px;
}

.btn {
  position: absolute;
  width: 163px;
  height: 47px;
  left: 137px;
  top: 491px;
}

h5 {
  position: absolute;
  width: 378px;
  height: 30px;
  left: 922px;
  top: 480px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;

  color: #5c7590;
}

h6 {
  position: absolute;
  width: 1034.45px;
  height: 36.49px;
  left: 229px;
  top: 1290.11px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */

  text-align: center;

  color: #000000;

  transform: rotate(-0.06deg);
}

p.a {
  position: absolute;
  width: 331px;
  height: 35px;
  left: 161px;
  top: 587px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 67px;
  text-align: center;

  color: #000000;
}

p.b {
  position: absolute;
  width: 331px;
  height: 35px;
  left: 553px;
  top: 587px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 67px;
  text-align: center;

  color: #000000;
}

p.c {
  position: absolute;
  width: 331px;
  height: 35px;
  left: 945px;
  top: 566px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 67px;
  text-align: center;

  color: #000000;
}

p.d {
  position: absolute;
  width: 175px;
  height: 29px;
  left: 629px;
  top: 2025px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #1b7ef5;
}

p.e {
  position: absolute;
  width: 668px;
  height: 31px;
  left: 389px;
  top: 2618px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

p.f {
  position: absolute;
  width: 1034.45px;
  height: 36.49px;
  left: 180px;
  top: 2689.11px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */

  text-align: center;

  color: #000000;

  transform: rotate(-0.06deg);
}

p.g {
  position: absolute;
  width: 468px;
  height: 31px;
  left: 792px;
  top: 2843px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;
}

p.h {
  position: absolute;
  width: 280.48px;
  height: 351px;
  left: 940px;
  top: 2874.25px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */

  color: #000000;

  transform: matrix(1, 0, 0, 1, 0, 0);
}

p.i {
  position: absolute;
  width: 463px;
  height: 58px;
  left: 488px;
  top: 3374px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  color: #000000;
}

p.j {
  position: absolute;
  width: 393px;
  height: 31px;
  left: 40px;
  top: 3640.75px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

p.k {
  position: absolute;
  width: 393px;
  height: 31px;
  left: 134px;
  top: 3640.75px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

p.l {
  position: absolute;
  width: 393px;
  height: 31px;
  left: 212px;
  top: 3640.75px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

p.m {
  position: absolute;
  width: 487px;
  height: 31px;
  left: 40px;
  top: 3715.75px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

img.coba1 {
  position: absolute;
  width: 1151px;
  height: 618px;
  left: 149px;
  top: 472px;
}

img.coba2 {
  position: absolute;
  width: 474px;
  height: 382px;
  left: 385px;
  top: 1408px;
}

img.coba3 {
  position: absolute;
  width: 515px;
  height: 287px;
  left: 355px;
  top: 2825px;
}
